@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

:root {
  --dark-blue: #142440;
  --color-bg: #4274d3;
  --color-bg2: #193a6f;
  --color-light: #ccf0f3;
  --color-dark: #2222;
}

body {
  background-color: var(--color-bg2);
}

.container {
  padding: 1rem;
  margin: 3rem auto;
  width: 30rem;
  background: var(--color-bg);
  border-radius: 5px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cinzel Decorative", serif;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-size: 3rem;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 9px;
  color: rgba(210, 178, 178, 0.92);
}

.inputValue {
  padding: 5px 1rem;
  width: 100%;
  background-color: var(--color-bg2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputValue button {
  cursor: pointer;
  background-color: var(--color-bg2);
}

.inputValue .MdAdd {
  font-size: 2.2rem;
  background-color: var(--color-bg2);
  color: #fff;
}

.inputValue input {
  background: transparent;
  padding: 10px;
  color: rgb(161, 160, 160);
  font-size: 1rem;
}

.inputValue div,
.inputDisplay div div {
  margin-left: 0.7rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}

.delete {
  color: rgba(255, 0, 0, 0.799);
}

.inputDisplay,
.editInput {
  margin-top: 1.5rem;
  padding: 5px 1rem;
  width: 100%;
  border-radius: 5px;
  border-top: 2px solid green;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputDisplay p {
  /* border: 1px solid #fff;
 padding: 1rem; */
  margin-right: 2rem;
}

.CiEdit {
  color: #008000;
}

.GrSave {
  color: #FFD700
}

@media screen and (max-width: 600px) {
 
  .container {
    padding: 1rem;
    margin: 1rem auto;
    width: 20rem;
    background: var(--color-bg);
    border-radius: 5px;
  }

  .heading {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    word-spacing: 3px;
    letter-spacing: 5px;
  }

  .inputValue {
    padding: 3px 1rem;
    width: 95%;
  }

  .inputValue div,
  .inputDisplay div div {
    margin-left: 0.7rem;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }
}