@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

:root {
  --dark-blue: #142440;
  --color-bg: #4274d3;
  --color-bg2: #193a6f;
  --color-light: #ccf0f3;
  --color-dark: #2222;
}

body {
  background-color: var(--color-bg2);
}

.container {
  padding: 1rem;
  margin: 3rem auto;
  width: 30rem;
  background: var(--color-bg);
  border-radius: 5px;
}

@media screen and (max-width: 600px) {

  .container {
    padding: 1rem;
    margin: 1rem auto;
    width: 20rem;
    background: var(--color-bg);
    border-radius: 5px;
  }

}